@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Create page";
}
<h1>Create Restaurant</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.Id)

        <div class="form-group">
            <label asp-for="Product.Name" class="control-label"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Phone" class="control-label"></label>
            <input asp-for="Product.Phone" class="form-control" />
            <span asp-validation-for="Product.Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Address" class="control-label"></label>
            <input asp-for="Product.Address" class="form-control" />
            <span asp-validation-for="Product.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Url" class="control-rabel"></label>
            <input asp-for="Product.Url" class="form-control" type="url" placeholder="https://example.com" pattern="^(http|https)://.*" />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>