@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteFoodModel

@{
    ViewData["Title"] = "Delete page";
}

<h1>Delete</h1>

<div class="container">
    <form method="post">

    </form>
</div>
