@page
@model ContosoCrafts.WebSite.Pages.Product.ProductIndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">

    <a asp-page="Create" class="btn btn-link">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.name</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
