@page
@model ContosoCrafts.WebSite.Pages.Product.ProductIndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container">
    <div id="restaurant_index" class="" runat="server">
        <a asp-page="Create" class="btn btn-link">+ Create</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="food_index" class="hide" runat="server">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var food in Model.Food)
                {
                <tr>
                    <td>@food.Name</td>
                    <td><a asp-page="ReadFood" asp-route-id="@food.Id">Read</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">document.getElementById("testslider").addEventListener('click', () => {
        document.getElementById("restaurant_index").classList.toggle('hide');
        document.getElementById("food_index").classList.toggle('hide');
        });</script>
