@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel
@{
    ViewData["Title"] = "Update page";
}
<h1>Update</h1>

<div class="container">
    <form method="post">
    </form>
</div>