@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>About Us Page is still under construction and is used to fix broken links.</p>
            The Japanese saying <i>Hana Yori Dango (花より団子)</i> is a famous expression which propounds preference for
