@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<body>
    <center>
        <br />
        <h2>About Us</h2>
        <img id="teamlogo" alt="Team Logo" />
        <div class="abouttext">
            &nbsp; &nbsp; &nbsp; &nbsp;
            The Japanese saying <i>Hana Yori Dango (花より団子)</i> is a famous expression which propounds preference for
            practicality over aesthetics; go for <i>dango</i> (which are tasty and nutritious) rather than
            <i>flowers</i> (which are merely decorative). Please don't get us wrong, we love flowers too &#x273F;.

            <br />&nbsp; &nbsp; &nbsp; &nbsp;
            This website is our humble attempt at curating Japanese restaurants in Seattle and the delicious food that they offer.
            Just as the sight of delicious food lights up our faces, we wish that visitors to our website leave with smile on their faces.

            <br />&nbsp; &nbsp; &nbsp; &nbsp;
            The simplicity of each dish and their rich variety are among the remarkable aspects of Japanese cuisine. Within the pages of this website you will find
            a catalog of many different dishes that people outside of Japan are typically not familiar with. The experience of discovering new and interesting dishes is very joyful in itself.
            We hope that you can learn and find inspiration for your next Japanese meal from our website &#9786;.
            <br /><br />
            <i>&ndash; Team Katsu Curry! &ndash;</i>
        </div>
    </center>
</body>