@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<body>
    <center>
        <br />
        <h2>About Us</h2>
        <img id="teamlogo" alt="Team Logo" />
        <div class="abouttext">
            &nbsp; &nbsp; &nbsp; &nbsp;
            The Japanese saying <i>Hana Yori Dango (花より団子)</i> is a famous expression which propounds preference for
            practicality over aesthetics; go for <i>dango</i> (which are tasty and nutritious) rather than
            <i>flowers</i> (which are merely decorative). Please don't get us wrong, we love flowers too &#x273F;.

            <br />&nbsp; &nbsp; &nbsp; &nbsp;
            This website is our humble attempt at curating Japanese restaurants in Seattle and the delicious food that they offer.
            Just as the sight of delicious food lights up our faces, we wish that visitors to our website leave with smile on their faces.

            <br />&nbsp; &nbsp; &nbsp; &nbsp;
            The simplicity of each dish and their rich variety are among the remarkable aspects of Japanese cuisine. Within the pages of this website you will find
            a catalog of many different dishes that people outside of Japan are typically not familiar with. The experience of discovering new and interesting dishes is very joyful in itself.
            We hope that you can learn and find inspiration for your next Japanese meal from our website &#9786;.
            <br /><br />
            <i>&ndash; Team Katsu Curry! &ndash;</i>
        </div>
    </center>

    <center><h2>The Team</h2></center>
    <div id="content">
        <div class="about_container">
            <div class="flipper">
                <div class="front">
                    <img class="about" id="jh" alt="Joen Ho">
                    <p class="caption">Joen Ho</p>
                </div>
                <div class="back">
                    <p class="description">Joen is a CS grad student from Seattle who loves to try out new cuisines across the city.
                        In her free time, she likes hiking or playing with her cat, Lei &#x1f408;.
                        Before Seattle, she has lived in Japan for 15 years, and developed profound love for all things Japanese.
                    <br/>&#x2740; Joen's favorite Japanese food is <a href="/Product/ReadFood?id=shabu_shabu">SHABUSHABU</a>.
                </div>
            </div>
        </div>
        <div class="about_container">
            <div class="flipper">
                <div class="front">
                    <img class="about" id="oc" alt="Owen Clinton">
                    <p class="caption">Owen Clinton</p>
                </div>
                <div class="back">
                    <p class="description">Owen is a CS grad student from Nothern California who loves to explore the city on his bike.
                        In his free time, he likes to learn new recipes, and spend time in the mountains hiking and skiing.
                    <br /><br />&#x273E; Owen's favorite Japanese food is <a href="/Product/ReadFood?id=okonomiyaki">OKONOMIYAKI</a>.
                </div>
            </div>
        </div>
        <div class="about_container">
            <div class="flipper">
                <div class="front">
                    <img class="about" id="sb" alt="Srimithra Bingi">
                    <p class="caption">Srimithra Bingi</p>
                </div>
                <div class="back">
                    <p class="description">Sri is a CS grad student from Seattle who loves to read novels and explore different places in his free time.
                    He loves to travel and try local food in different places.
                    <br /><br />&#x2741; Sri's favorite Japanese food is <a href="/Product/ReadFood?id=gyoza">GYOZA</a>.
                </div>
            </div>
        </div>
        <div class="about_container">
            <div class="flipper">
                <div class="front">
                    <img class="about" id="tc" alt="Troy Chen">
                    <p class="caption">Troy Chen</p>
                </div>
                <div class="back">
                    <p class="description">Troy is a CS grad student from Seattle who is always curious about the surroundings! "Troy is always hungry", quoted by the team.
                    <br /><br />&#x2743; Troy's favorite Japanese food is <a href="/Product/ReadFood?id=katsu_kare">KATSU CURRY</a>. 
                </div>
            </div>
        </div>
    </div>
</body>