@page
@using ContosoCrafts.WebSite.Components
@model ContosoCrafts.WebSite.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div id="toggle_placement" class="d-block float-right">

    <img class="d-inline restaurant_icon" />
    <div class="d-inline" id="toggle" runat=”server”>
        <!--The swithc button function-->

        <label class="switch" runat=”server”>

            <input id="toggle_btn" type="checkbox" runat=”server”>
            <span id="testslider" class="slider round"></span>

        </label>

    </div>
    <img class="d-inline food_icon" />


</div>
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>