@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body class="index">
    <div class="index-item">
        <p id="home-title1">Explore</p>
        <p id="home-title2">Japanese Cuisine</p>
        <a href="/Home">
            <img class="sakura animation_rotate" />
            <img class="sakura-fill animation_rotate" />
        </a>
    </div>
</body>

<script src="_framework/blazor.server.js"></script>