@page
@model ContosoCrafts.WebSite.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Page is still under construction and is used to fix broken links.</p>