@page
@model ContosoCrafts.WebSite.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<body onchange="togglefunc()">
    <h2>@ViewData["Title"]</h2>

    <p>Privacy Page is still under construction and is used to fix broken links.</p>
</body>

<script>function togglefunc() {
        document.getElementById("RestaurantLabel").classList.toggle('hide');
        document.getElementById("FoodLabel").classList.toggle('hide');
        document.getElementById("toggle").classList.toggle('hide');
    }</script>