@page
@model ContosoCrafts.WebSite.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<body>
    <center>
        <br />
        <h2>Privacy</h2>
        <img id="teamlogo" alt="Team Logo" />
    </center>

    <div class="abouttext">
        <a href="/Index">This website </a>is created by team <a href="/About">KatsuCurry!</a> for a course
        project at Seattle University.<br>
    </div>
    <div class="abouttext">
        <b>Information We Collect</b><br/>
        We don’t collect any of personal information.<br>
    </div>
    <div class="abouttext">
        <b>Links to Other Websites</b><br/>

        Our website may contain links to third-party web sites or services that are not owned or controlled<br>
        by us.We strongly advise you to read the terms and conditions and privacy policies of any third-party<br>
        web sites or services that you visit.<br>
    </div>
</body>