@page
@model ContosoCrafts.WebSite.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<body>
    <center>
        <br />
        <h2>Privacy</h2>
        <img id="teamlogo" alt="Team Logo" />

        <div class="privacytext">

            This website is created by team <a href="/About">KatsuCurry!</a> for a course
            project at Seattle University.<br /><br />

            <b>Information We Collect</b><br />
            We do not collect any of personal information.<br /><br />

            <b>Links to Other Websites</b><br />
            Our website may contain links to third-party web sites or services that are not owned or controlled by us.
            We strongly advise you to read the terms and conditions and privacy policies of any third-party
            web sites or services that you visit.<br /><br />
        </div>
    </center>
</body>