@page
@model ContosoCrafts.WebSite.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<body onchange="togglefunc()">
    <h2>@ViewData["Title"]</h2>

    <div class="abouttext">
        This website(link to home) is created by team KatsuCurry!(link to About Us) for a course project at
        Seattle University.



        <b>Information We Collect</b>

        We don’t collect any of personal information.



        <b>Links to Other Websites</b>

        Our website may contain links to third-party web sites or services that are not owned or controlled by us.
        We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or
        services that you visit.



        <b>Contact Us</b>

        If you have any questions regarding this privacy policy or the practices of this site, you can contact us form
        here (link to Contact Us)
    </div>
</body>

<script>function togglefunc() {
        document.getElementById("RestaurantLabel").classList.toggle('hide');
        document.getElementById("FoodLabel").classList.toggle('hide');
        document.getElementById("toggle").classList.toggle('hide');
    }</script>