<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <!-- load bootstrap standard-->
    <!-- uploaded new logo using favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/data/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/data/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/data/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/data/favicons/site.webmanifest">
    <link rel="mask-icon" href="~/data/favicons/safari-pinned-tab.svg" color="#5bbad5">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-nabvar border-bottom box-shadow mb-3" id="nav-back">
            <div class="container">
                <!-- L-->
                <a class="navbar-brand" id="font-size" asp-area="" asp-page="/Index">
                    <img id="logo-image" src="~/data/Logo.png" alt="Logo"/>
                    Hana Yori Dango
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Product/ProductIndex" asp-route-id="restaurant">Index</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Hana Yori Dango - <a asp-area="" asp-page="/About">About Us</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">document.getElementById("testslider").addEventListener('click', () => {
            document.getElementById("restaurant_page").classList.toggle('hide');
            document.getElementById("food_page").classList.toggle('hide');
        });</script>
</body>
</html>
